server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wallet
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
#    hibernate:
##      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public

#  mail:
#    host: smtp.gmail.com
#    port: 587
#    username: your_email@gmail.com
#    password: your_email_app_password
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
